/* 
    Thank you Mert Cukuren for your form and Tómas Thorvardarson for your checkboxes! 
    You helped me a lot for creating this. 

    Original works: 
        https://codepen.io/knyttneve/pen/JQppEw (form)
        https://codepen.io/TommiTikall/pen/KymYBN (checkboxes)
*/

body {
  font-family: "Ubuntu", "Open Sans", sans-serif;
  background-color: #eeeeee;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex: 400px;
  flex-direction: row;
}

.left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* Form is below the text. Keep this! */
  justify-content: center;
  -webkit-animation-name: left;
          animation-name: left;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.right-form
{
    flex: 1;
    transition: 0.1s;
    height: 95vh;
    background-image: url(../img/handshake_1920.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: sticky;
    top: 1vh;
    min-width: 200px;
    min-height: 300px;
}

.right-confirmation
{
    flex: 1;
    transition: 0.1s;
    height: 95vh;
    background-image: url(../img/fireworks_1920.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: sticky;
    top: 1vh;
    min-width: 200px;
    min-height: 300px;
}

.header > h2 {
  margin: 0;
  color: #004284;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.recap, .info, .thanks{
    max-width: auto;
    flex-direction: column;
    line-height: 1.4;
    margin-top: 12px;
  }

.form > p {
  text-align: right;
}

.form > p > a {
  color: #000;
  font-size: 14px;
}

.form-field {
    height: 40px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: "Ubuntu", sans-serif;
    outline: 0;
    transition: 0.2s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-field:focus {
  border-color: #004284;
}

/* The div containing all form-checkbox */
.form-checkboxes {
    margin-top: 10px;
    margin-bottom: 10px;    
}

.form-checkbox {
    margin: 12px 0;    
    position: relative;
}

/* Hide images field by default */
#addImages
{
  display: none;
  padding-left: 32px;
}

#addImagesButton
{
  color: #a0a0a0; /* Color of label when case is checked */
  font-weight: lighter;
  margin-left: 16px;
}

.fancy-check-label,
.fancy-radio-label {
    display: inline-block;
    padding-left: 12px;
    position: relative;
    -webkit-user-select: no-select;
       -moz-user-select: no-select;
        -ms-user-select: no-select;
            user-select: no-select;
}

.fancy-check-label {
    position: relative;
    color: #909090; /* Color of label when case is unchecked */
    font-weight: lighter;
}

.fancy-check:checked + .fancy-check-label {
    color: #264389; /* Color of label when case is checked */
    font-weight: bold;
}

.form > input[type='submit'] {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #264389 0%, #5375bc 100%);
    border-radius: 3px;
    margin-top: 20px;
    color: #fff;
    letter-spacing: 1px;
    font-family: "Ubuntu", sans-serif;
}
    
.animation {
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.a1 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.a2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.a3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.a4 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.a5 {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.a6 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@-webkit-keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}
@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}
