body {
    border: none;
    font-family: 'Open Sans', Helvetica, Arial,sans-serif;
    color:#222222;
    background-color: #dddddd;
    font-size: 1.5vh;
    text-align: left;
    margin-top: 1.5vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    margin-bottom: 0.5vh;
}

/* Include the h1 title and the subtitle */
.header {
    font-size: 3.2vh;
    color: #303030;
    /* background-color: #c0c0c0; */
    letter-spacing: 1px;
    padding-left: 3vh;
    margin-bottom: 0.5vh;
}

h1 {
    font-size: 7vh;
    font-weight: bold;
    color: black;
    /* background-color: #c0c0c0; */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 0.5vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    margin-bottom: 0.0vh;
}

/* The Adentis logo on the top right of the page */

img.logo {
    position: absolute;
    /* top: 2vh; */
    /* right: 2vh; */
    /* width: 16vh; */
    top: 3vh;
    right: 4vh;
    width: 21vh;
    height: 16vh;
}

/* The image of the winners */
img.trombiManager {
    position: absolute;
    bottom: 45vh;
    right: 2vh;
    height: 30vh;
    max-width: 30vh;
    object-fit: cover; /* If your pics are weird-looking, check here! */
    /* cover to crop the borders, scale-down to keep aspect ratio by shrinking pic, fill to fill the available square (may look ugly!), contain to fit it the best way possible */
    width: auto;
}

img.trombiConsultant {
    position: absolute;
    bottom: 5vh;
    right: 2vh;
    height: 30vh;
    max-width: 30vh;
    object-fit: cover; /* If your pics are weird-looking, check here! */
    width: auto;
}

/* The separating horizontal line */
hr {
    border-top: 1vh solid #004283;
    padding-left: 0vh;
}

/* The part with the manager and the contract signed */
.contract {
    top: 20vh;
    bottom: 40vh;
    right: 0vh;
    left: 0vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 5vh;
    color: #004283;
    background-color: #dddddd;
    text-transform: none; /* Useful for exotic capitalizations (camelCase, ...) */
    line-height: 1.8;
}

/* Additional text formatting only! (no images or background) */
.contract > .text, .engineer > .text {
    margin-right: 32vh; /* Do not write below/above the images, regardless their dimensions */
}

/* Name of the manager (inherits contract styles) */
.manager {
    font-size: 7vh;
    color: #002142;
    text-transform: capitalize; /* You may want to capitalize names */
    font-weight: bold;
}

/* Company (inherits contract styles) */
.client {
    font-size: 7vh;
    color: #002142;
    font-weight: bold;
}

/* The consultant that will work on it and the recruiter (HR) */
.engineer {
    top: 60vh;
    bottom: 0vh;
    right: 0vh;
    left: 0vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    line-height:1.8;
    position: absolute;
    background-color: #004283;
    color: #dddddd;
    font-size: 5vh;
}

/* Inherits engineer styles */
.consultant, .hr {
    font-size: 7vh;
    text-transform: capitalize;
    font-weight: bold;
    color: #ffffff;
}
